# IMPORTING DATA

In [3]:
import pandas as pd
import numpy as np
csv_path = "E:\\BI\\test\\"
match_id = "291352.csv"
df = open(csv_path+match_id).read()
Match_info=pd.DataFrame(columns=['Category:','Result'])
Score_info=pd.DataFrame(columns=['Ball','Innings','Overs','Batting_Team','Striker','Non_Striker','Bowler','Run','Extra_Run','Dismissal_Type','Dismissal_Batsmen'])

In [44]:
str_i=""
k=0
rn=0
c=1
for i in range(14,len(df)):
    if(df[i]=='b' and df[i+1]=='a' and df[i+2]=='l' and df[i+3]=='l'):
        break
    if(df[i]==','):
        k+=1
        if(k!=1):
            Match_info.loc[rn,c-1:c]=str_i
            c+=1
        str_i=""
        continue
    if(df[i]=='\n'):
        Match_info.loc[rn,c-1:c]=str_i
        rn+=1
        c=1
        k=0
    str_i=str_i+df[i]

In [45]:
Match_info

          Category:                  Result
0              team               Australia
1              team                   India
2            gender                    male
3            season                 2007/08
4              date              2008/01/02
5              date              2008/01/03
6              date              2008/01/04
7              date              2008/01/05
8              date              2008/01/06
9            series  Border-Gavaskar Trophy
10     match_number                       2
11            venue   Sydney Cricket Ground
12             city
13      toss_winner               Australia
14    toss_decision                     bat
15  player_of_match               A Symonds
16           umpire               MR Benson
17           umpire              SA Bucknor
18   reserve_umpire               RJ Tucker
19        tv_umpire            BNJ Oxenford
20    match_referee              MJ Procter
21           winner               Australia
22      winner_runs                     122

In [46]:
str_i=""
rn=0
c=1
for j in range(i,len(df)):
    if(df[j]==','):
        Score_info.loc[rn,c-1:c]=str_i
        c+=1
        str_i=""
        continue
    if(df[j]=='\n'):
        Score_info.loc[rn,c-1:c]=str_i
        rn+=1
        c=1
        str_i=""
        continue
    str_i=str_i+df[j]

In [47]:
Score_info.head(20)

,Ball,Innings,Overs,Batting_Team,Striker,Non_Striker,Bowler,Run,Extra_Run,Dismissal_Type,Dismissal_Batsmen
0,ball,1,0.1,Australia,PA Jaques,ML Hayden,RP Singh,0,0,"""""",""""""
1,ball,1,0.2,Australia,PA Jaques,ML Hayden,RP Singh,0,0,"""""",""""""
2,ball,1,0.3,Australia,PA Jaques,ML Hayden,RP Singh,0,0,"""""",""""""
3,ball,1,0.4,Australia,PA Jaques,ML Hayden,RP Singh,0,0,"""""",""""""
4,ball,1,0.5,Australia,PA Jaques,ML Hayden,RP Singh,0,0,"""""",""""""
5,ball,1,0.6,Australia,PA Jaques,ML Hayden,RP Singh,0,0,"""""",""""""
6,ball,1,1.1,Australia,ML Hayden,PA Jaques,I Sharma,0,0,"""""",""""""
7,ball,1,1.2,Australia,ML Hayden,PA Jaques,I Sharma,0,0,"""""",""""""
8,ball,1,1.3,Australia,ML Hayden,PA Jaques,I Sharma,0,0,"""""",""""""
9,ball,1,1.4,Australia,ML Hayden,PA Jaques,I Sharma,0,0,"""""",""""""
10,ball,1,1.5,Australia,ML Hayden,PA Jaques,I Sharma,0,0,"""""",""""""
11,ball,1,1.6,Australia,ML Hayden,PA Jaques,I Sharma,0,0,"""""",""""""
12,ball,1,2.1,Australia,PA Jaques,ML Hayden,RP Singh,0,0,"""""",""""""
13,ball,1,2.2,Australia,PA Jaques,ML Hayden,RP Singh,0,0,"""""",""""""
14,ball,1,2.3,Australia,PA Jaques,ML Hayden,RP Singh,0,0,caught,PA Jaques
15,ball,1,2.4,Australia,RT Ponting,ML Hayden,RP Singh,0,0,"""""",""""""
16,ball,1,2.5,Australia,RT Ponting,ML Hayden,RP Singh,2,0,"""""",""""""
17,ball,1,2.6,Australia,RT Ponting,ML Hayden,RP Singh,0,0,"""""",""""""
18,ball,1,3.1,Australia,ML Hayden,RT Ponting,I Sharma,0,0,"""""",""""""
19,ball,1,3.2,Australia,ML Hayden,RT Ponting,I Sharma,0,0,"""""",""""""

In [48]:
Score_info.to_csv (r'E:\BI\test\score_info.csv', index = None, header=True)

In [4]:
import pandas as pd
import numpy as np
csv_path = "E:\\BI\\test\\score_info.csv"
x = pd.read_csv(csv_path)
scorecard=pd.DataFrame(columns = ['player_name','match_id','innings','4s','6s','position_no','balls_played','score','dots','out_type','out_by_bowler','fow_teamrun','fow_wicket','fow_teamball','ball_deliverd','run_given','wicket','extras','maiden'])
scorecard2=pd.DataFrame(columns = ['player_name','match_id','innings','4s','6s','position_no','balls_played','score','dots','out_type','out_by_bowler','fow_teamrun','fow_wicket','fow_teamball','ball_deliverd','run_given','wicket','extras','maiden'])
scorecard3=pd.DataFrame(columns = ['player_name','match_id','innings','4s','6s','position_no','balls_played','score','dots','out_type','out_by_bowler','fow_teamrun','fow_wicket','fow_teamball','ball_deliverd','run_given','wicket','extras','maiden'])
scorecard4=pd.DataFrame(columns = ['player_name','match_id','innings','4s','6s','position_no','balls_played','score','dots','out_type','out_by_bowler','fow_teamrun','fow_wicket','fow_teamball','ball_deliverd','run_given','wicket','extras','maiden'])

df1= x[x['Innings']==1]
df2= x[x['Innings']==2]
df2=df2.reset_index(drop=True)
df3= x[x['Innings']==3]
df3=df3.reset_index(drop=True)
df4= x[x['Innings']==4]
df4=df4.reset_index(drop=True)
inn = " " 
def findbatsmen(inn):                               #findbatsmen(df)
    batsmen = inn['Striker'].unique()
    batsmen = pd.Series(batsmen)
    return batsmen
def findbowler(inn):                                #findbowler(df)
    bowler  = inn['Bowler'].unique()
    bowler  = pd.Series(bowler)
    return bowler
teams   = x['Batting_Team'].unique()
teams   = pd.Series(teams)

# Inning 1

In [5]:
a = []
a.append(df1['Striker'][0])
a.append(df1['Non_Striker'][0])

inn = 1

for i in range(len(df1)):
    if(df1['Dismissal_Type'][i]!='""' and i<len(df1)-1):
        if(df1['Striker'][i]==df1['Dismissal_Batsmen'][i]):
            cp=df1['Non_Striker'][i]
        else:
            cp=df1['Striker'][i]
        if(df1['Striker'][i+1]!=cp):
            a.append(df1['Striker'][i+1])
        else:
            a.append(df1['Non_Striker'][i+1])

for i in range(len(a)):
    scorecard.loc[i,0:1]=a[i]
    
for i in range(len(scorecard)):
    c=i
    c=c+1
    scorecard.loc[i:i+1,5:6]=c
    c=0

for i in range(len(a)): 
    scorecard.loc[i,1:2]=match_id

for i in range(len(a)):
    scorecard.loc[i,2:3]=inn

four=0
for i in range(len(scorecard)):
    for j in range(len(df1)):
        if (scorecard['player_name'][i]== df1['Striker'][j] and df1['Run'][j]==4):
            four=four+1
            scorecard.loc[i,3:4]=four
    four=0
    
six=0
for i in range(len(scorecard)):
    for j in range(len(df1)):
        if (scorecard['player_name'][i]== df1['Striker'][j] and df1['Run'][j]==6):
            six=six+1
            scorecard.loc[i,4:5]=six
    six=0

balls = 0
for i in range(len(scorecard)):
    for j in range(len(df1)):
        if(scorecard['player_name'][i] == df1['Striker'][j] and df1['Extra_Run'][j]!=1):
            balls+=1
            scorecard.loc[i,6:7]=balls
    balls=0

runs=0
for i in range(len(scorecard)):
    for j in range(len(df1)):
        if (scorecard['player_name'][i]== df1['Striker'][j] and df1['Run'][j]>0):
            runs=runs+df1['Run'][j]
            scorecard.loc[i,7:8]=runs
    runs=0
    
dots=0
for i in range(len(scorecard)):
    for j in range(len(df1)):
        if (scorecard['player_name'][i]== df1['Striker'][j] and df1['Run'][j]==0):
            dots+=1
            scorecard.loc[i,8:9]=dots
    dots=0
    
for i in range(len(scorecard)):
    for j in range(len(df1)):
        if(scorecard['player_name'][i]==df1['Striker'][j] and df1['Dismissal_Type'][j]!='""'):
            scorecard.loc[i,9:10]=df1['Dismissal_Type'][j]

for i in range(len(scorecard)):
    for j in range(len(df1)):
        if(scorecard['player_name'][i]==df1['Striker'][j] and df1['Dismissal_Type'][j]!='""'):
            scorecard.loc[i,10:11]=df1['Bowler'][j]

fow_run = 0
for i in range(len(scorecard)):
    for j in range(len(df1)):
        if(scorecard['player_name'][i] != df1['Dismissal_Batsmen'][j]):
            fow_run = fow_run + df1['Run'][j]+df1["Extra_Run"][j]
        else:
            scorecard.loc[i,11:12]=fow_run
    fow_run = 0
    
count = 1
for i in range(len(scorecard)):
    for j in range(len(df1)):
        if(df1['Dismissal_Batsmen'][j] == df1['Striker'][j] and scorecard['player_name'][i]==df1['Striker'][j]):
            scorecard.loc[i,12:13] = count
            count = count + 1
            
fow_balls = 0
for i in range(len(scorecard)):
    for j in range(len(df1)):
        if(scorecard['out_type'][i]=="not out"):
            scorecard.loc[i,13:14]= "not out"
        if(scorecard['player_name'][i] == df1['Striker'][j] and df1['Extra_Run'][j]!=1):
            fow_balls+=1
            scorecard.loc[i,13:14]= fow_balls

for i in range(len(scorecard)):
    if(scorecard['out_by_bowler'][i]==0 or scorecard['out_type'][i]==0 or scorecard['out_by_bowler'][i]==0 or scorecard['fow_wicket'][i]==0):
        scorecard.loc[i,11:12]='not out'
        scorecard.loc[i,9:10]='not out'
        scorecard.loc[i,10:11]='not out'
        scorecard.loc[i,12:13]='not out'
scorecard=scorecard.fillna(0)

bd=0
for i in range(len(scorecard)):
    for j in range(len(df2)):
        if(scorecard['player_name'][i] == df2['Bowler'][j]):
            bd = bd +1
        scorecard.loc[i,14:15]= bd
    bd=0

rg = 0
for i in range(len(scorecard)):
    for j in range(len(df2)):
        if(scorecard['player_name'][i] == df2['Bowler'][j]):
            rg = rg + df2['Run'][j]+df2['Extra_Run'][j]
    scorecard.loc[i,15:16]= int(rg)
    rg=0
    
wicket = 0
for i in range(len(scorecard)):
    for j in range(len(df2)):
        if(scorecard['player_name'][i] == df2['Bowler'][j] and df2['Dismissal_Type'][j]!='""'):
            wicket = wicket + 1
    scorecard.loc[i,16:17]= wicket
    wicket=0
    
extras = 0
for i in range(len(scorecard)):
    for j in range(len(df2)):
        if(scorecard['player_name'][i] == df2['Bowler'][j]):
            extras = extras +df2['Extra_Run'][j]
    scorecard.loc[i,17:18]= int(extras)
    extras=0

for i in range(len(scorecard)):
    flag=0
    maiden=0
    sum1=0
    c=0
    for j in range(len(df2)):
        if(scorecard['player_name'][i] == df2['Bowler'][j]):
            flag=1
            c=c+1
            sum1=sum1+df2['Run'][j]+df2['Extra_Run'][j]
        else:
            if(flag==1 and sum1==0 and c==6):
                maiden=maiden+1
                flag=0
            sum1=0
            c=0
    scorecard.loc[i,18:19]=maiden

# Inning 2

In [6]:
a = []
a.append(df2['Striker'][0])
a.append(df2['Non_Striker'][0])

inn = 2

for i in range(len(df2)):
    if(df2['Dismissal_Type'][i]!='""' and i<len(df2)-1):
        if(df2['Striker'][i]==df2['Dismissal_Batsmen'][i]):
            cp=df2['Non_Striker'][i]
        else:
            cp=df2['Striker'][i]
        if(df2['Striker'][i+1]!=cp):
            a.append(df2['Striker'][i+1])
        else:
            a.append(df2['Non_Striker'][i+1])

for i in range(len(a)):
    scorecard2.loc[i,0:1]=a[i]
    
for i in range(len(scorecard2)):
    c=i
    c=c+1
    scorecard2.loc[i:i+1,5:6]=c
    c=0

for i in range(len(a)): 
    scorecard2.loc[i,1:2]=match_id

for i in range(len(a)):
    scorecard2.loc[i,2:3]=inn

four=0
for i in range(len(scorecard2)):
    for j in range(len(df2)):
        if (scorecard2['player_name'][i]== df2['Striker'][j] and df2['Run'][j]==4):
            four=four+1
            scorecard2.loc[i,3:4]=four
    four=0
    
six=0
for i in range(len(scorecard2)):
    for j in range(len(df2)):
        if (scorecard2['player_name'][i]== df2['Striker'][j] and df2['Run'][j]==6):
            six=six+1
            scorecard2.loc[i,4:5]=six
    six=0

balls = 0
for i in range(len(scorecard2)):
    for j in range(len(df2)):
        if(scorecard2['player_name'][i] == df2['Striker'][j] and df2['Extra_Run'][j]!=1):
            balls+=1
            scorecard2.loc[i,6:7]=balls
    balls=0

runs=0
for i in range(len(scorecard2)):
    for j in range(len(df2)):
        if (scorecard2['player_name'][i]== df2['Striker'][j] and df2['Run'][j]>0):
            runs=runs+df2['Run'][j]
            scorecard2.loc[i,7:8]=runs
    runs=0
    
dots=0
for i in range(len(scorecard2)):
    for j in range(len(df2)):
        if (scorecard2['player_name'][i]== df2['Striker'][j] and df2['Run'][j]==0):
            dots+=1
            scorecard2.loc[i,8:9]=dots
    dots=0
    
for i in range(len(scorecard2)):
    for j in range(len(df2)):
        if(scorecard2['player_name'][i]==df2['Striker'][j] and df2['Dismissal_Type'][j]!='""'):
            scorecard2.loc[i,9:10]=df2['Dismissal_Type'][j]

for i in range(len(scorecard2)):
    for j in range(len(df2)):
        if(scorecard2['player_name'][i]==df2['Striker'][j] and df2['Dismissal_Type'][j]!='""'):
            scorecard2.loc[i,10:11]=df2['Bowler'][j]

fow_run = 0
for i in range(len(scorecard2)):
    for j in range(len(df2)):
        if(scorecard2['player_name'][i] != df2['Dismissal_Batsmen'][j]):
            fow_run = fow_run + df2['Run'][j]+df2["Extra_Run"][j]
        else:
            scorecard2.loc[i,11:12]=fow_run
    fow_run = 0
    
count = 1
for i in range(len(scorecard2)):
    for j in range(len(df2)):
        if(df2['Dismissal_Batsmen'][j] == df2['Striker'][j] and scorecard2['player_name'][i]==df2['Striker'][j]):
            scorecard2.loc[i,12:13] = count
            count = count + 1
            
fow_balls = 0
for i in range(len(scorecard2)):
    for j in range(len(df2)):
        if(scorecard2['out_type'][i]=="not out"):
            scorecard2.loc[i,13:14]= "not out"
        if(scorecard2['player_name'][i] == df2['Striker'][j] and df2['Extra_Run'][j]!=1):
            fow_balls+=1
            scorecard2.loc[i,13:14]= fow_balls

for i in range(len(scorecard2)):
    if(scorecard2['out_by_bowler'][i]==0 or scorecard2['out_type'][i]==0 or scorecard2['out_by_bowler'][i]==0 or scorecard2['fow_wicket'][i]==0):
        scorecard2.loc[i,11:12]='not out'
        scorecard2.loc[i,9:10]='not out'
        scorecard2.loc[i,10:11]='not out'
        scorecard2.loc[i,12:13]='not out'
scorecard2=scorecard2.fillna(0)

bd=0
for i in range(len(scorecard2)):
    for j in range(len(df1)):
        if(scorecard2['player_name'][i] == df1['Bowler'][j]):
            bd = bd +1
        scorecard2.loc[i,14:15]= bd
    bd=0

rg = 0
for i in range(len(scorecard2)):
    for j in range(len(df1)):
        if(scorecard2['player_name'][i] == df1['Bowler'][j]):
            rg = rg + df1['Run'][j]+df2['Extra_Run'][j]
    scorecard2.loc[i,15:16]= int(rg)
    rg=0
    
wicket = 0
for i in range(len(scorecard2)):
    for j in range(len(df1)):
        if(scorecard2['player_name'][i] == df1['Bowler'][j] and df2['Dismissal_Type'][j]!='""'):
            wicket = wicket + 1
    scorecard2.loc[i,16:17]= wicket
    wicket=0
    
extras = 0
for i in range(len(scorecard2)):
    for j in range(len(df1)):
        if(scorecard2['player_name'][i] == df1['Bowler'][j]):
            extras = extras +df1['Extra_Run'][j]
    scorecard2.loc[i,17:18]= int(extras)
    extras=0

for i in range(len(scorecard2)):
    flag=0
    maiden=0
    sum1=0
    c=0
    for j in range(len(df1)):
        if(scorecard2['player_name'][i] == df1['Bowler'][j]):
            flag=1
            c=c+1
            sum1=sum1+df2['Run'][j]+df1['Extra_Run'][j]
        else:
            if(flag==1 and sum1==0 and c==6):
                maiden=maiden+1
                flag=0
            sum1=0
            c=0
    scorecard2.loc[i,18:19]=maiden

# Inning 3

In [7]:
a = []
a.append(df3['Striker'][0])
a.append(df3['Non_Striker'][0])

inn = 3

for i in range(len(df3)):
    if(df3['Dismissal_Type'][i]!='""' and i<len(df3)-1):
        if(df3['Striker'][i]==df3['Dismissal_Batsmen'][i]):
            cp=df3['Non_Striker'][i]
        else:
            cp=df3['Striker'][i]
        if(df3['Striker'][i+1]!=cp):
            a.append(df3['Striker'][i+1])
        else:
            a.append(df3['Non_Striker'][i+1])

for i in range(len(a)):
    scorecard3.loc[i,0:1]=a[i]
    
for i in range(len(scorecard3)):
    c=i
    c=c+1
    scorecard3.loc[i:i+1,5:6]=c
    c=0

for i in range(len(a)): 
    scorecard3.loc[i,1:2]=match_id

for i in range(len(a)):
    scorecard3.loc[i,2:3]=inn

four=0
for i in range(len(scorecard3)):
    for j in range(len(df3)):
        if (scorecard3['player_name'][i]== df3['Striker'][j] and df3['Run'][j]==4):
            four=four+1
            scorecard3.loc[i,3:4]=four
    four=0
    
six=0
for i in range(len(scorecard3)):
    for j in range(len(df3)):
        if (scorecard3['player_name'][i]== df3['Striker'][j] and df3['Run'][j]==6):
            six=six+1
            scorecard3.loc[i,4:5]=six
    six=0

balls = 0
for i in range(len(scorecard3)):
    for j in range(len(df3)):
        if(scorecard3['player_name'][i] == df3['Striker'][j] and df3['Extra_Run'][j]!=1):
            balls+=1
            scorecard3.loc[i,6:7]=balls
    balls=0

runs=0
for i in range(len(scorecard3)):
    for j in range(len(df3)):
        if (scorecard3['player_name'][i]== df3['Striker'][j] and df3['Run'][j]!=0):
            runs=runs+df3['Run'][j]
            scorecard3.loc[i,7:8]=runs
    runs=0
    
dots=0
for i in range(len(scorecard3)):
    for j in range(len(df3)):
        if (scorecard3['player_name'][i]== df3['Striker'][j] and df3['Run'][j]==0):
            dots+=1
            scorecard3.loc[i,8:9]=dots
    dots=0
    
for i in range(len(scorecard3)):
    for j in range(len(df3)):
        if(scorecard3['player_name'][i]==df3['Striker'][j] and df3['Dismissal_Type'][j]!='""'):
            scorecard3.loc[i,9:10]=df3['Dismissal_Type'][j]

for i in range(len(scorecard3)):
    for j in range(len(df3)):
        if(scorecard3['player_name'][i]==df3['Striker'][j] and df3['Dismissal_Type'][j]!='""'):
            scorecard3.loc[i,10:11]=df3['Bowler'][j]

fow_run = 0
for i in range(len(scorecard3)):
    for j in range(len(df3)):
        if(scorecard3['player_name'][i] != df3['Dismissal_Batsmen'][j]):
            fow_run = fow_run + df3['Run'][j]+df3["Extra_Run"][j]
        else:
            scorecard3.loc[i,11:12]=fow_run
    fow_run = 0
    
count = 1
for i in range(len(scorecard3)):
    for j in range(len(df3)):
        if(df3['Dismissal_Batsmen'][j] == df3['Striker'][j] and scorecard3['player_name'][i]==df3['Striker'][j]):
            scorecard3.loc[i,12:13] = count
            count = count + 1
            
fow_balls = 0
for i in range(len(scorecard3)):
    for j in range(len(df3)):
        if(scorecard3['out_type'][i]=="not out"):
            scorecard3.loc[i,13:14]= "not out"
        if(scorecard3['player_name'][i] == df3['Striker'][j] and df3['Extra_Run'][j]!=1):
            fow_balls+=1
            scorecard3.loc[i,13:14]= fow_balls

for i in range(len(scorecard3)):
    if(scorecard3['out_by_bowler'][i]==0 or scorecard3['out_type'][i]==0 or scorecard3['out_by_bowler'][i]==0 or scorecard3['fow_wicket'][i]==0):
        scorecard3.loc[i,11:12]='not out'
        scorecard3.loc[i,9:10]='not out'
        scorecard3.loc[i,10:11]='not out'
        scorecard3.loc[i,12:13]='not out'
scorecard3 = scorecard3.fillna(0)

bd=0
for i in range(len(scorecard3)):
    for j in range(len(df4)):
        if(scorecard3['player_name'][i] == df4['Bowler'][j]):
            bd = bd +1
        scorecard3.loc[i,14:15]= bd
    bd=0

rg = 0
for i in range(len(scorecard3)):
    for j in range(len(df4)):
        if(scorecard3['player_name'][i] == df4['Bowler'][j]):
            rg = rg + df4['Run'][j]+df4['Extra_Run'][j]
    scorecard3.loc[i,15:16]= int(rg)
    rg=0
    
wicket = 0
for i in range(len(scorecard3)):
    for j in range(len(df4)):
        if(scorecard3['player_name'][i] == df4['Bowler'][j] and df4['Dismissal_Type'][j]!='""'):
            wicket = wicket + 1
    scorecard3.loc[i,16:17]= wicket
    wicket=0
    
extras = 0
for i in range(len(scorecard3)):
    for j in range(len(df4)):
        if(scorecard3['player_name'][i] == df4['Bowler'][j]):
            extras = extras +df4['Extra_Run'][j]
    scorecard3.loc[i,17:18]= int(extras)
    extras=0

for i in range(len(scorecard3)):
    flag=0
    maiden=0
    sum1=0
    c=0
    for j in range(len(df4)):
        if(scorecard3['player_name'][i] == df4['Bowler'][j]):
            flag=1
            c=c+1
            sum1=sum1+df4['Run'][j]+df4['Extra_Run'][j]
        else:
            if(flag==1 and sum1==0 and c==6):
                maiden=maiden+1
                flag=0
            sum1=0
            c=0
    scorecard3.loc[i,18:19]=maiden

# Inning 4

In [8]:
a = []
a.append(df4['Striker'][0])
a.append(df4['Non_Striker'][0])

inn = 4

for i in range(len(df4)):
    if(df4['Dismissal_Type'][i]!='""' and i<len(df4)-1):
        if(df4['Striker'][i]==df4['Dismissal_Batsmen'][i]):
            cp=df4['Non_Striker'][i]
        else:
            cp=df4['Striker'][i]
        if(df4['Striker'][i+1]!=cp):
            a.append(df4['Striker'][i+1])
        else:
            a.append(df4['Non_Striker'][i+1])

for i in range(len(a)):
    scorecard4.loc[i,0:1]=a[i]
    
for i in range(len(scorecard4)):
    c=i
    c=c+1
    scorecard4.loc[i:i+1,5:6]=c
    c=0

for i in range(len(a)): 
    scorecard4.loc[i,1:2]=match_id

for i in range(len(a)):
    scorecard4.loc[i,2:3]=inn

four=0
for i in range(len(scorecard4)):
    for j in range(len(df4)):
        if (scorecard4['player_name'][i]== df4['Striker'][j] and df4['Run'][j]==4):
            four=four+1
            scorecard4.loc[i,3:4]=four
    four=0
    
six=0
for i in range(len(scorecard4)):
    for j in range(len(df4)):
        if (scorecard4['player_name'][i]== df4['Striker'][j] and df4['Run'][j]==6):
            six=six+1
            scorecard4.loc[i,4:5]=six
    six=0

balls = 0
for i in range(len(scorecard4)):
    for j in range(len(df4)):
        if(scorecard4['player_name'][i] == df4['Striker'][j] and df4['Extra_Run'][j]!=1):
            balls+=1
            scorecard4.loc[i,6:7]=balls
    balls=0

runs=0
for i in range(len(scorecard4)):
    for j in range(len(df4)):
        if (scorecard4['player_name'][i]== df4['Striker'][j] and df4['Run'][j]>0):
            runs=runs+df4['Run'][j]
            scorecard4.loc[i,7:8]=runs
    runs=0
    
dots=0
for i in range(len(scorecard4)):
    for j in range(len(df4)):
        if (scorecard4['player_name'][i]== df4['Striker'][j] and df4['Run'][j]==0):
            dots+=1
            scorecard4.loc[i,8:9]=dots
    dots=0
    
for i in range(len(scorecard4)):
    for j in range(len(df4)):
        if(scorecard4['player_name'][i]==df4['Striker'][j] and df4['Dismissal_Type'][j]!='""'):
            scorecard4.loc[i,9:10]=df4['Dismissal_Type'][j]

for i in range(len(scorecard4)):
    for j in range(len(df4)):
        if(scorecard4['player_name'][i]==df4['Striker'][j] and df4['Dismissal_Type'][j]!='""'):
            scorecard4.loc[i,10:11]=df4['Bowler'][j]

fow_run = 0
for i in range(len(scorecard4)):
    for j in range(len(df4)):
        if(scorecard4['player_name'][i] != df4['Dismissal_Batsmen'][j]):
            fow_run = fow_run + df4['Run'][j]+df4["Extra_Run"][j]
        else:
            scorecard4.loc[i,11:12]=fow_run
    fow_run = 0
    
count = 1
for i in range(len(scorecard4)):
    for j in range(len(df4)):
        if(df4['Dismissal_Batsmen'][j] == df4['Striker'][j] and scorecard4['player_name'][i]==df4['Striker'][j]):
            scorecard4.loc[i,12:13] = count
            count = count + 1
            
fow_balls = 0
for i in range(len(scorecard4)):
    for j in range(len(df4)):
        if(scorecard4['out_type'][i]=="not out"):
            scorecard4.loc[i,13:14]= "not out"
        if(scorecard4['player_name'][i] == df4['Striker'][j] and df4['Extra_Run'][j]!=1):
            fow_balls+=1
            scorecard4.loc[i,13:14]= fow_balls

for i in range(len(scorecard4)):
    if(scorecard4['out_by_bowler'][i]==0 or scorecard4['out_type'][i]==0 or scorecard4['out_by_bowler'][i]==0 or scorecard4['fow_wicket'][i]==0):
        scorecard4.loc[i,11:12]='not out'
        scorecard4.loc[i,9:10]='not out'
        scorecard4.loc[i,10:11]='not out'
        scorecard4.loc[i,12:13]='not out'
scorecard4=scorecard4.fillna(0)

bd=0
for i in range(len(scorecard4)):
    for j in range(len(df3)):
        if(scorecard4['player_name'][i] == df3['Bowler'][j]):
            bd = bd +1
        scorecard4.loc[i,14:15]= bd
    bd=0

rg = 0
for i in range(len(scorecard4)):
    for j in range(len(df3)):
        if(scorecard4['player_name'][i] == df3['Bowler'][j]):
            rg = rg + df3['Run'][j]+df3['Extra_Run'][j]
    scorecard4.loc[i,15:16]= int(rg)
    rg=0
    
wicket = 0
for i in range(len(scorecard4)):
    for j in range(len(df3)):
        if(scorecard4['player_name'][i] == df3['Bowler'][j] and df3['Dismissal_Type'][j]!='""'):
            wicket = wicket + 1
    scorecard4.loc[i,16:17]= wicket
    wicket=0
    
extras = 0
for i in range(len(scorecard4)):
    for j in range(len(df3)):
        if(scorecard4['player_name'][i] == df3['Bowler'][j]):
            extras = extras +df3['Extra_Run'][j]
    scorecard4.loc[i,17:18]= int(extras)
    extras=0

for i in range(len(scorecard4)):
    flag=0
    maiden=0
    sum1=0
    c=0
    for j in range(len(df3)):
        if(scorecard4['player_name'][i] == df3['Bowler'][j]):
            flag=1
            c=c+1
            sum1=sum1+df3['Run'][j]+df3['Extra_Run'][j]
        else:
            if(flag==1 and sum1==0 and c==6):
                maiden=maiden+1
                flag=0
            sum1=0
            c=0
    scorecard4.loc[i,18:19]=maiden

# Scorecard for Inning 1

In [9]:
scorecard.fillna(0)

,player_name,match_id,innings,4s,6s,position_no,balls_played,score,dots,out_type,out_by_bowler,fow_teamrun,fow_wicket,fow_teamball,ball_deliverd,run_given,wicket,extras,maiden
0,PA Jaques,291352.csv,1,0,0,1,9,0,9,caught,RP Singh,0,1,9,0,0,0,0,0
1,ML Hayden,291352.csv,1,2,0,2,25,13,21,caught,RP Singh,27,2,34,0,0,0,0,0
2,RT Ponting,291352.csv,1,9,0,3,65,55,48,lbw,Harbhajan Singh,119,3,99,0,0,0,0,0
3,MEK Hussey,291352.csv,1,3,0,4,79,41,57,caught,RP Singh,119,4,178,0,0,0,0,0
4,MJ Clarke,291352.csv,1,0,0,5,4,1,3,lbw,Harbhajan Singh,121,5,182,42,28,0,0,1
5,A Symonds,291352.csv,1,18,2,6,225,162,143,0,0,0,0,407,42,19,0,0,1
6,AC Gilchrist,291352.csv,1,1,0,7,8,7,5,caught,RP Singh,134,6,415,0,0,0,0,0
7,GB Hogg,291352.csv,1,10,0,8,102,79,64,caught,A Kumble,307,7,517,180,129,2,8,1
8,B Lee,291352.csv,1,10,0,9,119,59,98,lbw,A Kumble,421,8,636,201,121,5,9,5
9,MG Johnson,291352.csv,1,5,0,10,30,28,19,caught,A Kumble,461,9,666,228,154,2,12,2
10,SR Clark,291352.csv,1,0,0,11,4,0,4,lbw,A Kumble,463,10,670,151,81,1,2,2

# Scorecard for Inning 2

In [10]:
scorecard2.fillna(0)

,player_name,match_id,innings,4s,6s,position_no,balls_played,score,dots,out_type,out_by_bowler,fow_teamrun,fow_wicket,fow_teamball,ball_deliverd,run_given,wicket,extras,maiden
0,W Jaffer,291352.csv,2,0,0,1,25,3,23,bowled,B Lee,8,1,25,0,0,0,0,0
1,R Dravid,291352.csv,2,9,0,2,155,53,135,caught,MG Johnson,183,2,180,0,0,0,0,0
2,VVS Laxman,291352.csv,2,18,0,3,139,109,98,caught,GB Hogg,185,3,319,0,0,0,0,0
3,SR Tendulkar,291352.csv,2,14,1,4,242,154,152,0,0,0,0,561,30,14,1,1,0
4,SC Ganguly,291352.csv,2,7,1,5,75,67,46,caught,GB Hogg,293,4,636,36,15,0,0,1
5,Yuvraj Singh,291352.csv,2,2,0,6,24,12,19,lbw,B Lee,321,5,660,0,0,0,0,0
6,MS Dhoni,291352.csv,2,0,0,7,12,2,12,caught,B Lee,330,6,672,0,0,0,0,0
7,A Kumble,291352.csv,2,0,0,8,5,2,4,caught,B Lee,345,7,677,153,113,1,0,4
8,Harbhajan Singh,291352.csv,2,8,0,9,91,63,60,caught,MG Johnson,474,8,768,162,112,1,3,2
9,RP Singh,291352.csv,2,2,0,10,21,13,17,caught,SR Clark,501,9,789,158,130,4,7,4
10,I Sharma,291352.csv,2,5,0,11,34,23,27,caught and bowled,B Lee,532,10,823,143,90,0,7,3

# Scorecard for Inning 3

In [11]:
scorecard3.fillna(0)

,player_name,match_id,innings,4s,6s,position_no,balls_played,score,dots,out_type,out_by_bowler,fow_teamrun,fow_wicket,fow_teamball,ball_deliverd,run_given,wicket,extras,maiden
0,PA Jaques,291352.csv,3,5,0,1,79,42,60,caught,A Kumble,85,1,79,0,0,0,0,0
1,ML Hayden,291352.csv,3,12,0,2,190,123,123,caught,A Kumble,250,2,269,0,0,0,0,0
2,RT Ponting,291352.csv,3,0,0,3,4,1,3,caught,Harbhajan Singh,90,3,273,0,0,0,0,0
3,MEK Hussey,291352.csv,3,16,0,4,257,145,176,0,0,0,0,530,0,0,0,0,0
4,MJ Clarke,291352.csv,3,0,0,5,1,0,1,caught,A Kumble,250,4,531,11,5,3,0,0
5,A Symonds,291352.csv,3,7,0,6,98,61,70,caught,RP Singh,378,5,629,114,51,3,0,5
6,AC Gilchrist,291352.csv,3,0,0,7,4,1,3,caught,A Kumble,393,6,633,0,0,0,0,0
7,GB Hogg,291352.csv,3,0,0,8,2,1,1,caught,Harbhajan Singh,395,7,635,84,55,0,0,2
8,B Lee,291352.csv,3,0,0,9,3,4,1,0,0,0,0,638,79,34,2,1,3

# Scorecard for Inning 4

In [12]:
scorecard4.fillna(0)

,player_name,match_id,innings,4s,6s,position_no,balls_played,score,dots,out_type,out_by_bowler,fow_teamrun,fow_wicket,fow_teamball,ball_deliverd,run_given,wicket,extras,maiden
0,R Dravid,291352.csv,4,6,0,1,102,38,86,caught,A Symonds,115,1,102,0,0,0,0,0
1,W Jaffer,291352.csv,4,0,0,2,4,0,4,caught,B Lee,3,2,106,0,0,0,0,0
2,VVS Laxman,291352.csv,4,3,0,3,33,20,26,lbw,SR Clark,34,3,139,0,0,0,0,0
3,SR Tendulkar,291352.csv,4,3,0,4,16,12,13,bowled,SR Clark,54,4,155,12,6,0,0,0
4,SC Ganguly,291352.csv,4,9,0,5,56,51,35,caught,B Lee,137,5,211,0,0,0,0,0
5,Yuvraj Singh,291352.csv,4,0,0,6,3,0,3,caught,A Symonds,115,6,214,12,11,0,0,0
6,MS Dhoni,291352.csv,4,6,0,7,82,35,67,lbw,A Symonds,185,7,296,0,0,0,0,0
7,A Kumble,291352.csv,4,7,0,8,111,45,95,0,0,0,0,407,247,155,4,14,2
8,Harbhajan Singh,291352.csv,4,1,0,9,14,7,12,caught,MJ Clarke,210,8,421,198,93,2,1,5
9,RP Singh,291352.csv,4,0,0,10,1,0,1,lbw,MJ Clarke,210,9,422,98,77,1,5,2
10,I Sharma,291352.csv,4,0,0,11,3,0,3,caught,MJ Clarke,210,10,425,87,59,0,3,2

In [14]:
frames = [scorecard , scorecard2, scorecard3 , scorecard4]
FinalScorecard = pd.concat(frames)

# Final Score Card

In [15]:
FinalScorecard

,player_name,match_id,innings,4s,6s,position_no,balls_played,score,dots,out_type,out_by_bowler,fow_teamrun,fow_wicket,fow_teamball,ball_deliverd,run_given,wicket,extras,maiden
0,PA Jaques,291352.csv,1,0,0,1,9,0,9,caught,RP Singh,0,1,9,0,0,0,0,0
1,ML Hayden,291352.csv,1,2,0,2,25,13,21,caught,RP Singh,27,2,34,0,0,0,0,0
2,RT Ponting,291352.csv,1,9,0,3,65,55,48,lbw,Harbhajan Singh,119,3,99,0,0,0,0,0
3,MEK Hussey,291352.csv,1,3,0,4,79,41,57,caught,RP Singh,119,4,178,0,0,0,0,0
4,MJ Clarke,291352.csv,1,0,0,5,4,1,3,lbw,Harbhajan Singh,121,5,182,42,28,0,0,1
5,A Symonds,291352.csv,1,18,2,6,225,162,143,0,0,0,0,407,42,19,0,0,1
6,AC Gilchrist,291352.csv,1,1,0,7,8,7,5,caught,RP Singh,134,6,415,0,0,0,0,0
7,GB Hogg,291352.csv,1,10,0,8,102,79,64,caught,A Kumble,307,7,517,180,129,2,8,1
8,B Lee,291352.csv,1,10,0,9,119,59,98,lbw,A Kumble,421,8,636,201,121,5,9,5
9,MG Johnson,291352.csv,1,5,0,10,30,28,19,caught,A Kumble,461,9,666,228,154,2,12,2
10,SR Clark,291352.csv,1,0,0,11,4,0,4,lbw,A Kumble,463,10,670,151,81,1,2,2
0,W Jaffer,291352.csv,2,0,0,1,25,3,23,bowled,B Lee,8,1,25,0,0,0,0,0
1,R Dravid,291352.csv,2,9,0,2,155,53,135,caught,MG Johnson,183,2,180,0,0,0,0,0
2,VVS Laxman,291352.csv,2,18,0,3,139,109,98,caught,GB Hogg,185,3,319,0,0,0,0,0
3,SR Tendulkar,291352.csv,2,14,1,4,242,154,152,0,0,0,0,561,30,14,1,1,0
4,SC Ganguly,291352.csv,2,7,1,5,75,67,46,caught,GB Hogg,293,4,636,36,15,0,0,1
5,Yuvraj Singh,291352.csv,2,2,0,6,24,12,19,lbw,B Lee,321,5,660,0,0,0,0,0
6,MS Dhoni,291352.csv,2,0,0,7,12,2,12,caught,B Lee,330,6,672,0,0,0,0,0
7,A Kumble,291352.csv,2,0,0,8,5,2,4,caught,B Lee,345,7,677,153,113,1,0,4
8,Harbhajan Singh,291352.csv,2,8,0,9,91,63,60,caught,MG Johnson,474,8,768,162,112,1,3,2
9,RP Singh,291352.csv,2,2,0,10,21,13,17,caught,SR Clark,501,9,789,158,130,4,7,4
10,I Sharma,291352.csv,2,5,0,11,34,23,27,caught and bowled,B Lee,532,10,823,143,90,0,7,3
0,PA Jaques,291352.csv,3,5,0,1,79,42,60,caught,A Kumble,85,1,79,0,0,0,0,0
1,ML Hayden,291352.csv,3,12,0,2,190,123,123,caught,A Kumble,250,2,269,0,0,0,0,0
2,RT Ponting,291352.csv,3,0,0,3,4,1,3,caught,Harbhajan Singh,90,3,273,0,0,0,0,0
3,MEK Hussey,291352.csv,3,16,0,4,257,145,176,0,0,0,0,530,0,0,0,0,0
4,MJ Clarke,291352.csv,3,0,0,5,1,0,1,caught,A Kumble,250,4,531,11,5,3,0,0
5,A Symonds,291352.csv,3,7,0,6,98,61,70,caught,RP Singh,378,5,629,114,51,3,0,5
6,AC Gilchrist,291352.csv,3,0,0,7,4,1,3,caught,A Kumble,393,6,633,0,0,0,0,0
7,GB Hogg,291352.csv,3,0,0,8,2,1,1,caught,Harbhajan Singh,395,7,635,84,55,0,0,2
8,B Lee,291352.csv,3,0,0,9,3,4,1,0,0,0,0,638,79,34,2,1,3
0,R Dravid,291352.csv,4,6,0,1,102,38,86,caught,A Symonds,115,1,102,0,0,0,0,0
1,W Jaffer,291352.csv,4,0,0,2,4,0,4,caught,B Lee,3,2,106,0,0,0,0,0
2,VVS Laxman,291352.csv,4,3,0,3,33,20,26,lbw,SR Clark,34,3,139,0,0,0,0,0
3,SR Tendulkar,291352.csv,4,3,0,4,16,12,13,bowled,SR Clark,54,4,155,12,6,0,0,0
4,SC Ganguly,291352.csv,4,9,0,5,56,51,35,caught,B Lee,137,5,211,0,0,0,0,0
5,Yuvraj Singh,291352.csv,4,0,0,6,3,0,3,caught,A Symonds,115,6,214,12,11,0,0,0
6,MS Dhoni,291352.csv,4,6,0,7,82,35,67,lbw,A Symonds,185,7,296,0,0,0,0,0
7,A Kumble,291352.csv,4,7,0,8,111,45,95,0,0,0,0,407,247,155,4,14,2
8,Harbhajan Singh,291352.csv,4,1,0,9,14,7,12,caught,MJ Clarke,210,8,421,198,93,2,1,5
9,RP Singh,291352.csv,4,0,0,10,1,0,1,lbw,MJ Clarke,210,9,422,98,77,1,5,2
10,I Sharma,291352.csv,4,0,0,11,3,0,3,caught,MJ Clarke,210,10,425,87,59,0,3,2